.userPhoto {
  width: 50px;
  height: 50px;
}
.page {
  cursor: pointer;
}
.page:hover {
  background-color: cyan;
}
.selectedPage {
  background-color: cyan;
  word-wrap: break-word;
}
.pagination {
  font-size: xx-small;
  display: flex;
  flex-wrap: wrap;
}
.odd {
  background-color: darkgray;
}
.even {
  background-color: lightgrey;
}
