.app-wrapper {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "n c";
}

.app-wrapper-content {
  grid-area: c;
  background-color: bisque;
}
